/* Common Styles */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body {
    font-family: 'Abel', sans-serif;
    background-color: #FFA70C;
    border-radius: 5px;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
}

.navbar-buttons {
    color: white;
    text-decoration: none;
    font-size: large;
    transition: background-color 0.3s ease;
    transition-property: background-color;
    border-radius: 8px;
}

.navbar-buttons:hover {
    background-color: #E0E0E0;
    color: gray;
}

.nav-header {
     color:  #98FF98;
}


h2, p, h3, h4, h5, h6, span {
    color: darkslategray;
}

.nav-letsgo {
    font-family: Abel, sans-serif;
    background-color: lime;
    border: 2px solid green;
    width: 90px;
    height: 60px;
}

.nav-letsgo:hover {
    width: 140px;
    height: 75px;
    cursor: pointer;
    transition-duration: 0.35s;
}

.nav-letsgo {
    width: 120px;
    height: 60px;
    transition-duration: 0.35s;
}

a:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.nav-addcat {
    border: 0.5px solid blue;
    font-family: 'Abel', sans-serif;
    background-color: dodgerblue;
    color: white;
    width: 60px; /* Fixed width */
    height: 30px; /* Fixed height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-addcat:hover {
    background-color: darkblue;
    cursor: pointer;
}

/* Responsive CSS */
@media only screen and (max-width: 768px) {
    header {
        height: auto;
    }

    header > table {
        display: block;
    }

    header > table > tr {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }

    header > table > tr > td {
        display: block;
    }
}

/* Styles specific to index.html */
header {
    background-color: darkslategray;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header > table > td {
    padding: 0 10px;
}

.cutehubimage {
    border: 3px solid black;
}
